<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="application.properties">
    </properties>
    <typeAliases>
        <package name="tk.mybatis.pagehelper.domain"/>
    </typeAliases>
    <plugins>
        <plugin interceptor="com.github.pagehelper.PageInterceptor">
        </plugin>
    </plugins>
    <environments default="product">
        <environment id="product">
            <transactionManager type="MANAGED"/>
            <dataSource type="POOLED">
                <property name="driver" value="${spring.datasource.driver-class-name}"/>
                <property name="url" value="${spring.datasource.url}"/>
                <property name="username" value="${spring.datasource.username}"/>
                <property name="password" value="${spring.datasource.password}"/>
                <property name="poolMaximumActiveConnections" value="${spring.datasource.maxActive}"/>
                <property name="poolMaximumIdleConnections" value="${spring.datasource.minIdle}"/>
                <property name="poolPingEnabled" value="true"/>
                <property name="poolPingQuery" value="select 1"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper class="com.system.auth.dao.UserMapper" />
        <mapper class="com.system.auth.dao.SystemMapper" />
        <mapper class="com.system.auth.dao.PlatformMapper" />
        <mapper class="com.system.auth.dao.GroupMapper" />
        <mapper class="com.system.auth.dao.UserGroupMapper" />
        <mapper class="com.system.auth.dao.AuthorityMapper" />
        <mapper class="com.system.auth.dao.GroupAuthorityMapper" />
        <mapper class="com.system.auth.dao.UserAuthorityMapper" />
        <mapper class="com.system.auth.dao.RoleMapper" />
        <mapper class="com.system.auth.dao.UserRoleMapper" />
        <mapper class="com.system.auth.dao.RoleAuthorityMapper" />
        <mapper class="com.system.auth.dao.OrganizationMapper" />
        <mapper class="com.system.auth.dao.OrganizationAuthorityMapper" />
        <mapper class="com.system.auth.dao.UserOrganizationMapper" />
        <mapper class="com.system.auth.dao.SessionMapper" />
    </mappers>
</configuration>